/* 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Noto+Sans+KR:wght@100..900&family=Rubik+Bubbles&display=swap');

body{
    margin: 0px;
}

/* 헤더 전체 */
.header {
  position: fixed; /*상단 고정*/
  width: 100%;
  height: 64px;
  background-color: #ffffff;
  border-bottom: 1px solid #e5e5e5;
}

/* 헤더 내부 컨테이너 */
.header-inner {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;

  display: flex;
  align-items: center;
}

/* 로고 */
.logo {
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

/* 네비게이션 */
.nav {
  margin-left: auto;        
  display: flex;
  gap: 40px; /*단일 메뉴 간 간격*/
}

.nav a {
  font-family: 'Noto Sans KR', sans-serif;
  text-decoration: none;
  color: #333333; 
  font-size: 14px;
  font-weight: 500;
}

.nav a:hover {
  color: #B93920;
}

/* 로그인&아웃 영역 */
.auth {
  display: flex;
  align-items: center;
  margin-left: 24px; /* 메뉴바와 간격 */
}

/* 로그인&아웃 버튼 */
.login-btn,
.logout-btn {
  padding: 8px 14px;

  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
  font-weight: 300;
  border-radius: 30px;
  cursor: pointer;

  border: 1px solid #B93920;
  background-color: #B93920;
  color: #fff;
}

.login-btn:hover,
.logout-btn:hover {
  background-color: #9E2F19;
  border-color: #9E2F19;
}
